<div class="banner">
  <div class="banner-content">
    <h1>Mr. Cocktail</h1>
    <p>Find our best cocktails</p>
    <%= link_to "See All Recipes", cocktails_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
